@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="es" class="min-vh-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <title>Bienvenido</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- FontAwesome core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Estilos personalizados para la plantilla -->
    <link href="~/Content/Estilo.css" rel="stylesheet" />
</head>
<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="" data-toggle="tooltip" title="Sistema Medico Deportivo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="2em" height="2em" viewBox="0 0 79.538 79.538" style="enable-background:new 0 0 79.538 79.538;" xml:space="preserve">
                <path d="M54.951,5.207c-2.506-2.058-4.256-1.569-6.772,2.918c-1.657,2.967-4.309,3.324-5.929,3.234   l0.013-0.593c1.877-0.935,3.202-2.833,3.202-5.064C45.465,2.545,42.912,0,39.77,0c-3.144,0-5.707,2.545-5.707,5.701   c0,2.231,1.326,4.129,3.208,5.057l0.005,0.601c-1.615,0.09-4.266-0.267-5.926-3.234c-2.509-4.487-4.259-4.976-6.76-2.918   C22.065,7.27,12.123,19.151,0.001,18.062c0,0,2.403,5.455,8.951,4.246c0,0,3.5,3.632,9.178,1.092c0,0,2.954,2.662,7.646,0.238   c0,0,3.49,2.667,7.213,0.36c0,0,2.1,1.522,4.438,1.131l0.147,13.717c-0.264-0.054-0.476-0.111-0.758-0.166   c0-0.005-4.054-0.875-8.35-2.079c-4.132-1.08-8.671-2.835-9.339-3.749c0.06-0.057,0.148-0.101,0.272-0.158   c0.365-0.196,0.997-0.394,1.737-0.546c1.517-0.308,3.575-0.466,5.642-0.552c4.106-0.147,4.847,0.031,4.922,0.042   c0.005-0.127,2.374,0.282,3.026-2.136c-0.026-0.016,0.049-0.117,0.005-0.168c-0.137-1.667-1.414-1.745-2.459-1.941   c-1.696-0.223-0.811-0.132-3.102-0.106c-3.759,0.282-15.345-0.658-16.803,5.439c0,0.171-0.01,0.282-0.031,0.43   c0.487,5.308,11.48,7.615,19.444,9.199c-2.706,1.852-4.147,4.259-4.725,7.371c-0.277,3.319,2.359,6.478,8.484,10.01   c-4.65,3.287-7.705,6.384-7.457,10.117c0.435,3.045,3.123,7.115,8.404,9.684c0.016,0.005,0.021-0.006,0.034,0l0,0   c0,0,0.005,0,0.015,0c0,0-3.697-5.645-3.945-8.73c-0.244-1.792,0.779-4.464,5.276-7.664l0.127,11.278h0.021   c0.031,0.958,0.774,1.72,1.704,1.72c0.927,0,1.67-0.767,1.7-1.72h0.016l0.148-10.982c4.142,3.07,5.079,5.628,4.841,7.368   c-0.243,3.086-3.93,8.73-3.93,8.73s0,0,0.01,0c0,0,0.011,0.005,0.031,0c5.282-2.568,7.975-6.633,8.399-9.678   c0.248-3.734-2.802-6.83-7.446-10.113c6.11-3.531,8.751-6.695,8.481-10.015c-0.569-3.112-2.02-5.52-4.728-7.368   c7.969-1.587,18.957-3.894,19.444-9.202c-0.021-0.147-0.031-0.259-0.031-0.43c-1.455-6.097-13.049-5.158-16.809-5.44   c-2.289-0.025-1.398-0.116-3.097,0.106c-1.051,0.191-2.33,0.27-2.465,1.937c-0.041,0.052,0.031,0.153,0.011,0.174   c0.652,2.418,3.023,2.004,3.029,2.136c0.067-0.011,0.808-0.189,4.924-0.042c2.062,0.085,4.111,0.238,5.629,0.551   c0.751,0.153,1.367,0.35,1.74,0.547c0.119,0.057,0.217,0.101,0.274,0.16c-0.668,0.911-5.199,2.667-9.337,3.754   c-4.292,1.191-8.357,2.061-8.367,2.066c-0.106,0.021-0.187,0.041-0.293,0.06l0.176-13.619c2.349,0.415,4.472-1.124,4.472-1.124   c3.708,2.307,7.208-0.36,7.208-0.36c4.702,2.423,7.643-0.238,7.643-0.238c5.676,2.54,9.176-1.092,9.176-1.092   c6.561,1.209,8.969-4.246,8.969-4.246C67.41,19.151,57.468,7.27,54.951,5.207z M32.331,50.782c0.083-1.196-0.329-4.055,5.328-6.131   l0.127,11.334c-1.093-0.693-2.222-1.402-3.371-2.133C32.898,52.91,32.186,51.642,32.331,50.782z M44.601,53.853   c-1,0.643-1.968,1.242-2.923,1.849l0.145-10.869c5.165,2.062,4.777,4.784,4.865,5.955C46.827,51.642,46.117,52.91,44.601,53.853z" fill="#FFFFFF" /></svg>
                REMEDE
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                @if (User.IsInRole("Administrador"))
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" href="@Url.Action("ViewAdministrador", "Home")">Ir a Menu</a>
                        </li>
                    </ul>
                }
                else if (User.IsInRole("Medico"))
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editar <span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="@Url.Action("ViewMedico", "Home")">Ir a Menu</a>
                            </div>
                        </li>
                    </ul>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>

    <main role="main" class="flex-shrink-0">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="item1 active"></li>
                <li class="item2"></li>
                <li class="item3"></li>
                <li class="item4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item  active">
                    <video width="" autoplay>
                        <source src="~/Videos/comite olimpico nicaraguense promo 2.mov" type="video/mp4" />
                    </video>
                </div>

                <div class="carousel-item">
                    <video>
                        <source src="~/Videos/barberena 2.mov" type="video/mp4" />
                    </video>
                </div>

                <div class="carousel-item">
                    <video>
                        <source src="~/Videos/app phone.mp4" type="video/mp4" />
                    </video>
                </div>

                <div class="carousel-item">
                    <video>
                        <source src="~/Videos/redes sociales con.mov" type="video/mp4" />
                    </video>
                </div>
            </div>

            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
    </main>

    <!-- Comienza el Footer -->
    <div class="legal flex-shrink-0 card-footer" style="text-align: center;">
        <div class="copyright">
            <strong><a href="http://con.org.ni" target="_blank" data-toggle="tooltip" title="Visitar Pagina">Comite Olimpico Nicaraguense</a>. &copy; </strong>@DateTime.Now.Year
        </div>
        <div class="copyright">
            <b>Version: </b> 1.5
        </div>
    </div>
    <!-- Termina el Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script>window.jQuery || document.write('<script src="~/Scripts/jquery-3.4.1.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
    <script>
        $(document).ready(function () {
            // Activate Carousel
            $("#myCarousel").carousel();

            // Enable Carousel Indicators
            $(".item1").click(function () {
                $("#myCarousel").carousel(0);
            });
            $(".item2").click(function () {
                $("#myCarousel").carousel(1);
            });
            $(".item3").click(function () {
                $("#myCarousel").carousel(2);
            });
            $(".item4").click(function () {
                $("#myCarousel").carousel(3);
            });

            // Enable Carousel Controls
            $(".carousel-control-prev").click(function () {
                $("#myCarousel").carousel("prev");
            });
            $(".carousel-control-next").click(function () {
                $("#myCarousel").carousel("next");
            });

            $("#myCarousel").on('slide.bs.carousel', function () {
                let elemento = $('#myCarousel .carousel-item.active video').first();
                if (elemento.prop("tagName") == "VIDEO") {
                    elemento.get(0).pause();
                }
            });
            $("#myCarousel").on('slid.bs.carousel', function () {
                let elemento = $('#myCarousel .carousel-item.active video').first();
                if (elemento.prop("tagName") == "VIDEO") {
                    elemento.get(0).play();
                }
            });
        });
    </script>
    @*<script>
            var $video = $('video'),
                $window = $(window);

            $(window).resize(function () {

                var height = $window.height();
                $video.css('height', height);

                var videoWidth = $video.width(),
                    windowWidth = $window.width(),
                    marginLeftAdjust = (windowWidth - videoWidth) / 2;

                $video.css({
                    'height': height,
                    'marginLeft': marginLeftAdjust
                });
            }).resize();
        </script>*@
</body>
</html>