@using SIMEDECON.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listar Atletas";
    IEnumerable<Datos_Atleta> Atle = (IEnumerable<Datos_Atleta>)ViewBag.Atleta;

}

@section Listar_Atletas_Css
{
<link href="~/Content/CardAtletas.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row el-element-overlay">
        <div class="col-md-12">
        </div>
        @foreach (Datos_Atleta oElemento in Atle)
        {
            <div class="col-lg-3 col-md-6" >
                <div class="card lista-atleta" style="width: 268px; height: 440.31px;">
                    <div class="el-card-item" style="width: 268px; height: 440.31px;">
                        <div class="el-card-avatar el-overlay-1" style="width: 268px; height: 270.31px;">
                            <img src="~/@oElemento.Foto" alt="user" style="width: 268px; height: 270.31px;" />
                            <div class="el-overlay scrl-dwn" style="width: 268px; height: 270.31px;">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/HistorialMedico/Crear/@oElemento.ID"><i class="fas fa-file-medical"></i></a></li>
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/Atleta/Mostrar/@oElemento.ID"><i class="fas fa-eye"></i></a></li>
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/ExamenFisico/Crear/@oElemento.ID"><i class="fas fa-stethoscope"></i></a></li>
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/Lesiones/Index/@oElemento.ID"><i class="fas fa-crutch"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content" style="background-color:#333;">
                            <h4 class="box-title">@oElemento.Nombre_Completo</h4>
                            <h5>@oElemento.Correo_Electronico</h5>
                            <h5>Deporte</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>